:host ::ng-deep .mat-drawer-content {
  height: 100vh;
  padding-top: 60px;
  background-color: var(--third_color);
}

#navbar {
  nav {
    width: 100%;
    padding: 5px 25px;
    background-color: var(--third_color);
    position: absolute;
    z-index: 2;

    .content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      width: 100%;

      .logo {
        height: 50px;
        img {
          height: 100%;
        }
      }
    }
  }

  .drawer-container {
    background-color: var(--third_color);
    width: 100%;
    height: 100%;

    .options {
      height: 100%;
      padding-top: 80px;
      display: flex;
      flex-direction: column;

      .item {
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
        border: none;
        gap: 10px;
        display: flex;
        align-items: center;
        margin-left: 4px;
        padding: 16px 0;
        padding-left: 12px;
        font-weight: 500;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 25px;
          width: 4px;
          border-radius: 5px;
          background-color: transparent;
          opacity: 0;
          transition: var(--ts);
        }
        &:last-child {
          margin-top: auto !important;
        }
        i {
          font-size: 1.05rem;
          color: var(--primary_bg);
        }
        span {
          color: var(--primary_bg);
        }

        &.select {
          &::before {
            background-color: var(--primary_bg);
            opacity: 1;
          }
        }
      }
    }
  }
  .screen {
    background-color: var(--primary_bg);
    width: 100%;
    padding: 40px 3%;
    min-height: 100%;
    border-radius: var(--br) 0 0 0;
  }
}

.sidenav {
  width: 220px;
}

.hamburger {
  button {
    background-color: transparent;
    .line {
      display: block;
      height: 4px;
      width: 25px;
      border-radius: 5px;
      position: relative;
      transition: var(--ts);
      background-color: var(--primary_bg);

      &::before,
      &::after {
        content: '';
        display: block;
        height: 4px;
        border-radius: 5px;
        background-color: var(--primary_bg);
        position: absolute;
        transition: var(--ts);
        width: 10px;
        right: 0;
      }
      &::before {
        top: -3px;
        transform: rotate(45deg);
      }

      &::after {
        bottom: -3px;
        transform: rotate(-45deg);
      }
    }
  }

  &.active {
    button {
      .line {
        background-color: transparent;
        transition: var(--ts);
        &::before,
        &::after {
          top: auto;
          bottom: auto;
          width: 25px;
          transition: var(--ts);
        }
      }
    }
  }
}
