<div id="navbar">
  <nav>
    <div class="content">
      <div class="hamburger" [ngClass]="{ active: drawer.opened }">
        <button aria-label="menu" mat-icon-button (click)="drawer.toggle()">
          <span class="line"></span>
        </button>
      </div>

      <a class="logo" routerLink="/">
        <img src="assets/images/logo-white.svg" alt="logo">
      </a>
    </div>
  </nav>

  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened class="sidenav">
      <div class="drawer-container">
        <div class="options">
          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/dashboard">
            <i icon="dash"></i>
            <span> Dashboard </span>
          </a>

          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/pdv">
            <i icon="cart"></i>
            <span> Caixa </span>
          </a>

          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/products">
            <i icon="box_open"></i>
            <span> Produtos </span>
          </a>

          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/categories">
            <i icon="branch"></i>
            <span> Categorias </span>
          </a>


          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/variations">
            <i icon="boxes"></i>
            <span> Variações </span>
          </a>

          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/types">
            <i icon="list_three"></i>
            <span> Tipos </span>
          </a>

          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/measures">
            <i icon="rule"></i>
            <span> Medidas </span>
          </a>

          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/users">
            <i icon="users"></i>
            <span> Usuários </span>
          </a>

          <a (click)="navItemClick(drawer)" class="item" routerLinkActive="select" routerLink="/config">
            <i icon="config"></i>
            <span> Configurações </span>
          </a>

          <button class="item" (click)="logout()">
            <i icon="exit"></i>
            <span> Sair </span>
          </button>
        </div>
      </div>

    </mat-drawer>

    <div class="screen">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>