.mat-button-base {
  &.mat-button {
    background-color: var(--secondary_bg);
  }
  &.mat-raised-button {
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
    border-radius: 40px;
    color: var(--primary_bg);
    text-transform: uppercase;
  }
}

.card_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  button {
    border-radius: 40px;
    transition: var(--ts);
    color: var(--primary_bg);
    &:disabled {
      color: var(--primary_bg);
      opacity: 0.5;
    }
    &:not(:last-child) {
      background-color: transparent;
      color: var(--text_color);
    }
  }
}
