@import './animations';

.card_input {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  label {
    font-size: 1rem;
    padding-left: 5px;
  }

  & + .card_input {
    margin-top: 10px;
  }

  input,
  textarea,
  select,
  .style {
    width: 100%;
    border: 1px solid var(--secondary_bg);
    background-color: var(--secondary_bg);
    padding: 10px 15px;
    transition: var(--ts);
    border-radius: 40px;
    color: var(--text_color);

    &[type='number'] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &.ng-touched.ng-invalid {
      border-color: var(--red_color);
      @include shake;
    }
    &[type='file'] {
      display: none;
    }

    &:focus {
      outline: none;
      border-color: var(--third_color);
    }
  }

  .card_images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    grid-gap: 10px;
    .image {
      width: 100%;
      max-width: 120px;
      height: 120px;
      border-radius: 5px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
      button {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--third_color);
        transition: var(--ts);
        i {
          color: var(--primary_bg);
        }
        &:hover {
          opacity: 0.8;
        }
      }

      &.new {
        border: 2px dashed var(--secondary_bg);
        transition: var(--ts);
        max-width: 120px;
        height: 120px;
        &:hover {
          border-color: var(--third_color);
        }
        button {
          background-color: transparent;
          opacity: 1;
          i {
            color: var(--text_color);
            transform: rotate(45deg);
            display: block;
          }
        }
      }
    }
  }

  button {
    margin-top: 10px;
    border-radius: 40px;
    background-color: var(--third_color);
    transition: var(--ts);
    color: var(--primary_bg);
    &:disabled {
      opacity: 0.5;
    }
  }
}

.card_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  button {
    border-radius: 40px;
    transition: var(--ts);
    &:disabled {
      opacity: 0.5;
    }
    &:first-child {
      background-color: transparent;
      color: var(--text_color);
    }
  }
}
