@import './animations';

.card_input {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  label {
    font-size: 1rem;
    padding-left: 5px;
  }

  & + .card_input {
    margin-top: 10px;
  }

  input,
  textarea,
  select {
    width: 100%;
    border: 1px solid var(--secondary_bg);
    background-color: var(--secondary_bg);
    padding: 10px 15px;
    transition: var(--ts);
    border-radius: 40px;
    color: var(--primary_bg);

    &[type='number'] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &.ng-touched.ng-invalid {
      border-color: var(--red_color);
      @include shake;
    }
    &[type='file'] {
      display: none;
    }
  }

  button {
    margin-top: 10px;
    border-radius: 40px;
    background-color: var(--third_color);
    transition: var(--ts);
    color: var(--primary_bg);
    &:disabled {
      opacity: 0.5;
      color: 0;
    }
  }
}
