:root {
  font-size: calc(15px + 0.390625vw);
  --ts: all 0.3s ease-in-out;
  --br: 25px;
  --time_c_b: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --navbar-bg: #113e21;
  --title_color: #07180d;
  --text_color: #161616;
  --primary_color: #113e21;
  --secondary_color: #b38b59;
  --third_color: #2b2a2a;
  --primary_bg: #fefefe;
  --secondary_bg: #f0f0f0;
  --yellow_color: #f2af4c;
  --green_color: #5dc983;
  --red_color: #eb5769;

  --table_odd: #ececec;
  --table_hover: #dcdcdc;
  --table_border: #c4c4c4;
}
